body {
  margin-top:159px;
  background-color: rgb(243, 243, 243);
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  width:1450px;
  padding: 0 20px;
  margin: auto;
}
